button {
  width: 100%; 
  max-width: 480px; 
  padding: 16px 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background-color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
}

button:hover {
  background-color: #FE6100;
  border-color: #FE6100;
}

button:disabled {
  background-color: #ccc;
  border-color: #ccc;
  color: #666;
  cursor: not-allowed;
}


@media (max-width: 768px) {
  button {
    font-size: 14px; 
    padding: 14px 0; 
  }
}

@media (max-width: 480px) {
  button {
    font-size: 12px; 
    padding: 12px 0; 
  }
}
