
.contact{
  width: 1120px;
  margin: 0 auto;
}

.contact-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-wrapper__text{
  width: 450px;
  margin-top: 140px;
  margin-bottom: 150px;
}

.contact-wrapper__text_info{
  font-size: 36px;
  line-height: 1.5;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

.contact-wrapper__text_abs{
  font-size: 18px;
  line-height: 1.5;
  color: #ffffff66;
  font-weight: 500;
}

.contact-wrapper__input{
  margin-top: 150px;
  margin-bottom: 150px;
}

@media (max-width: 1164px){

  .contact{
    width: auto;
    margin: 0 auto;
  }

  .contact-wrapper{
    display: flex;
    flex-direction: column;
  }

  .contact-wrapper__text{
    width: 450px;
    margin-top: 140px;
    margin-bottom: 150px;
    margin: 0 auto;
    text-align: center;
  }

  .contact-wrapper__input{
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}